# Companion local & yt-dlp core
Nueva carpeta/
*cookies.txt
cookies.txt

# Local Agent configs & caches
.continue/
.claude/

# GitNexus local index & caches
.gitnexus/
.lbdb/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# OS specific files
.DS_Store
Thumbs.db
